footer {
    max-width: 1280px;
    margin: 0 auto;
    background-color: $backColorTopic;
    padding: 10px 0;
}

.footer_content {
    max-width: 1160px;
    margin: 0 auto;
    display: flex;
    column-gap: 182px;
    align-items: center;
    flex-wrap: wrap;
}

.logo_and_tel {
    display: flex;
    width: 302px;
    justify-content: space-between;
    align-items: center;

    div {
        line-height: 1.3;
        p {
            width: 192px;
            @include textValue('Montserrat', 400, 20px);
            margin: 0;

            a {
                color: black;
                text-decoration: none;
            }
        }
    }
}

.img_box_foot {
    height: 68px;

    img {
        height: 100%;
    }
}

.media_links {
    display: flex;
    column-gap: 54px;

    a:hover {
        .color_svg {
            fill: #97DECE;
        }

        path {
            stroke: #97DECE;
        }
    }
}

.last_p {
    width: 300px;
    text-align: right;
    @include textValue('Montserrat', 400, 20px);
    margin: 0;
}