.dot_divider {
    width: 479px;
}

.dot_divider2 {
    width: 558px;
}

.dot_divider3 {
    width: 469px;
}

.dot_divider4 {
    width: 478px;
}

.dot_divider5 {
    width: 539px;
}

.dot_divider6 {
    width: 398px;
}

@media all and (max-width:708px) {
    .dot_divider {
        width: 250px;
    }
    
    .dot_divider2 {
        width: 324px;
    }
    
    .dot_divider3 {
        width: 200px;
    }
    
    .dot_divider4 {
        width: 243px;
    }
    
    .dot_divider5 {
        width: 321px;
    }
    
    .dot_divider6 {
        width: 163px;
    }
}